@model List<WebStore.Models.Item>
@{
    ViewBag.Title = "Web Store";
}
<div id="promotion">
</div>
<h3><em>Welcome</em> at our WebStore!</h3>
<ul id="item-list">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Store", new { id = item.ItemId })">
                <img alt="@item.Title" src="@item.ItemArtUrl" />
                <span>@item.Title</span>
            </a>
        </li>
    }
</ul>